<mat-toolbar>
    <span>Web3 + Angular</span>
</mat-toolbar>



<div class="main-div">
    <div class="btn-cont">
        <button mat-flat-button color="primary" (click)="initializeMetamask()" *ngIf="this.stateMetamsk">Connect to
            Metamask</button>

        <button mat-flat-button color="primary" *ngIf="!this.stateMetamsk" (click)="onboardMetamsk()">Install
            Metamask</button>
    </div>


    <div class="btn-cont">
        <button mat-flat-button color="primary" (click)="sendEth()">Send Eth</button>
    </div>


    <div class="btn-cont">
        <button mat-flat-button color="secondary" (click)="initializeWalletConnect()">Wallet Connect</button>
    </div>

    <div class="btn-cont">
        <button mat-flat-button color="secondary" (click)="sendWalletCOnnect()">Send Wallet Connect</button>
    </div>


</div>